<!DOCTYPE html>
<html>
  <head>
   <meta charest="utf-8">
  </head>
  <body>
  <h1>USers</h1><br>
    {{if .UserName}}
    <p>UserName:{{.UserName}}</p>
    <p>Password:{{.Password}}<p>
    <p>Firstname:{{.FistName}}</p>
    <p>Lastname:{{.LastName}}</p>
    <p>Role:{{.Role}}</p>
    {{end}}
  </body>
</html>