<!DOCTYPE html>
<html>
  <head>
  <meta charest="utf-8">
  </head>
  <body>

<h2><a href="/sing">sign up</a></h2>
<h2><a href="/log">loging</a></h2>
<h2><a href="/logout">logout</a></h2>
<h2><a href="/Admin">Admin</a></h2>
<br>
<h2>Go to <a href="/bar">the bar</a></h2>
 </body>
</html>